<?xml version="1.0"?>
<config>
    <modules>
        <custom_adminfileupload>
            <version>0.1.0</version>
            <!--<version>1.1.0</version>-->
            <depends>
                <!-- no dependencies -->
            </depends>
        </custom_adminfileupload>
    </modules>
    <global>
        <!--<models>
            <adminfileupload>
                <class>Custom_Adminfileupload_Model</class>
                <resourceModel>adminfileupload_mysql4</resourceModel>
            </adminfileupload>
            <adminfileupload_mysql4>
                <class>Custom_Adminfileupload_Model_Mysql4</class>
            </adminfileupload_mysql4>
        </models>-->
        <!--<blocks>
            <adminfileupload>
                <class>Custom_Adminfileupload_Block</class>
            </adminfileupload>
        </blocks>-->
        <resources>
              <adminfileupload_setup>
                    <setup>
                          <module>Custom_Adminfileupload</module>
                          <class>Custom_Adminfileupload_Model_Resource_Setup</class>
                    </setup>
                    <!--<connection>
                          <use>core_setup</use>
                    </connection>-->
              </adminfileupload_setup>
        </resources>
        <extraconfig />
        <helpers>
            <adminfileupload>
                <class>Custom_Adminfileupload_Helper</class>
            </adminfileupload>
        </helpers>
    </global>
    <admin>
        <routers>
            <custom_adminfileupload>
                <use>admin</use>
                <args>
                    <module>Custom_Adminfileupload</module>
                    <frontName>adminfileupload</frontName>
                </args>
            </custom_adminfileupload>
        </routers>
    </admin>
</config>